<template>
  <svg class="svg-icon" viewBox="0 0 20 20">
    <path fill="none"
      d="M17.645,7.262c-0.238-0.419-0.547-0.681-0.889-0.681C15.971,3.462,13.43,0.5,11.192,0.5C10.79,0.5,10.39,0.598,10,0.772C9.61,0.598,9.21,0.5,8.808,0.5c-2.238,0-4.779,2.962-5.564,6.08c-0.342,0-0.651,0.262-0.889,0.681C1.302,7.294,0.542,8.415,0.542,9.958c0,1.566,0.781,2.702,1.858,2.702c0.212,0,0.409-0.056,0.594-0.139c0.478,1.431,1.355,1.868,1.939,1.997v2.195c0,0.187,0.151,0.338,0.338,0.338c0.187,0,0.338-0.151,0.338-0.338v-0.778c0.488,0.874,1.471,1.566,2.702,1.903v0.564c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-0.418c0.22,0.034,0.446,0.056,0.676,0.068v1.026c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-1.026c0.23-0.012,0.456-0.033,0.676-0.068v0.418c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338V17.84c1.232-0.337,2.215-1.029,2.702-1.903v0.778c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-2.195c0.587-0.131,1.462-0.569,1.939-1.997c0.186,0.083,0.382,0.139,0.594,0.139c1.077,0,1.858-1.137,1.858-2.702C19.458,8.415,18.698,7.294,17.645,7.262z M2.4,11.647c-0.466,0-0.844-0.756-0.844-1.689c0-0.558,0.137-1.049,0.346-1.357c0.487,0.122,1.083,0.582,1.276,2.018C3.048,11.224,2.749,11.647,2.4,11.647z M12.094,7.98c0.171-0.171,0.737,0.119,1.264,0.647c0.528,0.528,0.817,1.094,0.647,1.264c-0.171,0.171-0.737-0.119-1.264-0.647C12.213,8.717,11.923,8.151,12.094,7.98z M6.66,8.627C7.188,8.099,7.754,7.81,7.924,7.98c0.171,0.171-0.119,0.737-0.647,1.264C6.75,9.772,6.184,10.062,6.013,9.891C5.843,9.721,6.132,9.155,6.66,8.627z M14.701,13.216c-0.04,0.005-0.08,0.008-0.12,0.008c-0.76,0-1.409-0.939-1.484-1.051c-1.236-1.855-3.078-1.876-3.097-1.876c-0.075,0.001-1.869,0.034-3.097,1.876c-0.079,0.118-0.798,1.144-1.604,1.043c-0.451-0.061-0.796-0.439-1.025-1.124l0.641-0.214c0.134,0.402,0.306,0.645,0.472,0.668c0.286,0.041,0.735-0.424,0.953-0.749C7.776,9.646,9.91,9.621,10,9.621s2.224,0.025,3.659,2.177c0.218,0.325,0.683,0.789,0.953,0.748c0.166-0.022,0.338-0.266,0.472-0.668l0.641,0.214C15.497,12.777,15.152,13.155,14.701,13.216z M17.6,11.647c-0.349,0-0.649-0.424-0.777-1.028c0.193-1.435,0.789-1.895,1.276-2.018c0.209,0.308,0.346,0.798,0.346,1.357C18.445,10.891,18.067,11.647,17.6,11.647z">
    </path>
  </svg>
</template>
