<script setup>
import { computed } from "vue";
import { useLayoutStore } from "@/stores/layout.js";
import BaseLevel from "@/components/BaseLevel.vue";
import CustomLogo from "@/components/customLogo.vue";

const year = computed(() => new Date().getFullYear());

const isFooterBarVisible = computed(() => !useLayoutStore().isFullScreen);
</script>

<template>
  <footer
    v-show="isFooterBarVisible"
    class="bg-white py-2 px-6 dark:bg-gray-900/70"
  ></footer>
</template>
